label i.fa-arrow-up {
  display: none;
}

input:checked + label i.fa-arrow-down {
  display: none;
}

input:checked + label i.fa-arrow-up {
  display: inline-block;
}

#sort {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  margin: 4px;
  font-weight: bold;
}

#sort-checkbox {
  display: none;
}

#sort-checkbox-2 {
  display: none;
}