<section id="index-family" class="container pt-5">
    <h2 class="fw-bold text-center">找新家?</h2>
    <h5 class="mb-4 text-center">找尋屬於你溫暖的家</h5>
    {% if family_post %}
        <div id="family-house-lg" class="carousel slide d-none d-lg-block" data-bs-interval="false">
            <div class="carousel-inner">
                {% for i in range(0, family_post|length, 4) %}
                    <div class="carousel-item {% if i == 0 %}active{% endif %}">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                            {% for num in range(i, i + 4) %}
                                {% if num < family_post|length %}
                                    <div class="col">
                                        {% if  family_post[num]['pId'] <47 %}
                                            <a href="../sell_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% else %}
                                            <a href="../rentals_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% endif %}
                                        <img src="{{ family_post[num]['image'] }}" class="card-img-top"
                                             alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ family_post[num]['address'] }}</h4>
                                            <p class="card-text">
                                                {{ family_post[num]['district'] }} /
                                                {{ family_post[num]['type'] }} /
                                                {{ family_post[num]['twPing'] }}坪
                                            </p>
                                            {% if family_post[num]['sellPrice'] %}
                                                <h5 class="text-danger">{{ family_post[num]['sellPrice'] }}
                                                    萬</h5>
                                            {% else %}
                                                <h5 class="text-danger">{{ family_post[num]['rentPrice'] }}
                                                    元/月</h5>
                                            {% endif %}
                                        </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#family-house-lg"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#family-house-lg"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div id="family-house-md" class="carousel slide d-none d-md-block d-lg-none" data-bs-interval="false">
            <div class="carousel-inner">
                {% for i in range(0, family_post|length, 2) %}
                    <div class="carousel-item {% if i == 0 %}active{% endif %}">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                            {% for num in range(i, i + 2) %}
                                {% if num < family_post|length %}
                                    <div class="col">
                                        {% if  family_post[num]['pId'] <47 %}
                                            <a href="../sell_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% else %}
                                            <a href="../rentals_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% endif %}
                                        <img src="{{ family_post[num]['image'] }}" class="card-img-top"
                                             alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ family_post[num]['address'] }}</h4>
                                            <p class="card-text">
                                                {{ family_post[num]['district'] }} /
                                                {{ family_post[num]['type'] }} /
                                                {{ family_post[num]['twPing'] }}坪
                                            </p>
                                            {% if family_post[num]['sellPrice'] %}
                                                <h5 class="text-danger">{{ family_post[num]['sellPrice'] }}
                                                    萬</h5>
                                            {% else %}
                                                <h5 class="text-danger">{{ family_post[num]['rentPrice'] }}
                                                    元/月</h5>
                                            {% endif %}
                                        </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#family-house-md"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#family-house-md"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div id="family-house-sm" class="carousel slide d-sm-block d-md-none" data-bs-interval="false">
            <div class="carousel-inner">
                {% for i in range(0, family_post|length, 1) %}
                    <div class="carousel-item {% if i == 0 %}active{% endif %}">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                            {% for num in range(i, i + 1) %}
                                {% if num < family_post|length %}
                                    <div class="col">
                                        {% if  family_post[num]['pId'] <47 %}
                                            <a href="../sell_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% else %}
                                            <a href="../rentals_info.html?pId={{ family_post[num]['pId'] }}"
                                               class="card text-decoration-none">
                                        {% endif %}
                                        <img src="{{ family_post[num]['image'] }}" class="card-img-top"
                                             alt="...">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ family_post[num]['address'] }}</h4>
                                            <p class="card-text">
                                                {{ family_post[num]['district'] }} /
                                                {{ family_post[num]['type'] }} /
                                                {{ family_post[num]['twPing'] }} 坪
                                            </p>
                                            {% if family_post[num]['sellPrice'] %}
                                                <h5 class="text-danger">{{ family_post[num]['sellPrice'] }}
                                                    萬</h5>
                                            {% else %}
                                                <h5 class="text-danger">{{ family_post[num]['rentPrice'] }}
                                                    元/月</h5>
                                            {% endif %}
                                        </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#family-house-sm"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#family-house-sm"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <div class="container bg-secondary">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">這裡空空如也</h1>
                <p class="lead">
                    目前沒有任何關於該區域的資料，你可以發布第一個房子
                </p>
            </div>
        </div>
    {% endif %}
</section>