<section class="container p-5">
    <div class="row g-5">
        <div class="col">
            <form action="/upload_post" method="post" enctype="multipart/form-data">
                <input type="hidden" id="postType" name="postType" value="{{ postType }}">

                {% include './add_post/post.html' %}

                <hr class="my-4">

                <h4 class="mb-3">封面照片</h4>

                {% include './add_post/image.html' %}

                <hr class="my-4">

                <h4 class="mb-3">付款方式</h4>

                {% include './add_post/payment.html' %}

                <hr class="my-4">

                {% include './add_post/predict_price.html' %}

                <button class="w-100 btn btn-secondary btn-lg" type="submit">
                    新增貼文
                </button>
            </form>
        </div>
    </div>
</section>