<div class="modal fade" id="modal-login" data-bs-backdrop="static" aria-hidden="true"
     aria-labelledby="model-login-label" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2" id="model-login-label">登入</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form action="/login" id="login-form">
                    <input type="hidden" name="method" value="login">

                    <label for="login-email" class="mb-3">電子信箱</label>
                    <div class="input-group mb-3 has-validation">
                        <input type="email" name="email" class="form-control shadow-none" id="login-email"
                               placeholder="name@example.com" autocomplete="current-email" required>
                        <span class="input-group-text">
                            <i class="bi bi-envelope"></i>
                        </span>
                        <div class="invalid-feedback">
                            <div class="d-flex align-items-center">
                                <i class="bi bi-x-circle red-text me-2 mb-1"></i>
                                用戶或密碼錯誤
                            </div>
                        </div>
                    </div>
                    <label for="login-password" class="mb-3">密碼</label>
                    <div class="input-group mb-3 has-validation">
                        <input type="password" name="password" class="check-password form-control shadow-none"
                               id="login-password" placeholder="Password" autocomplete="current-password" required>
                        <span class="input-group-text">
                            <i class="bi bi-eye-slash toggle-password" id="toggle-password"></i>
                        </span>
                        <div class="invalid-feedback">
                            <div class="requirements my-1 leng big-letter num special-char d-flex align-items-center">
                                <i class="bi bi-x-circle red-text me-2 mb-1"></i>
                                密碼格式似乎有錯
                            </div>
                        </div>
                    </div>
                    <button id="login-btn" class="w-100 my-2 btn btn-lg rounded-3 btn-secondary" type="submit">登入
                    </button>
                    <hr class="my-4">
                    <small class="text-muted">
                        還沒註冊?
                        <a class="border-secondary" data-bs-toggle="modal" data-bs-target="#modal-signup">
                            註冊
                        </a>
                    </small>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const email = $("#login-email");
    email.removeClass("is-invalid");

    $(document).ready(function () {
        $("#login-form").submit(function (event) {
            event.preventDefault(); // 防止表單自動提交

            const formData = $(this).serialize(); // 取得表單資料

            $.ajax({
                type: "POST",
                url: "/login",
                data: formData,
                success: function (response) {
                    if (response === 'success') {
                        email.removeClass("is-invalid");
                        location.reload();
                        return;
                    }

                    email.addClass("is-invalid");
                },
                error: function () {
                    // 登入失敗時顯示錯誤訊息
                    alert("登入失敗");
                }
            });
        });
    });
</script>
