<div class="container px-5">
    <div class="row border-bottom border-1 mb-2 p-3">
        <h5 class="col-md-2 col-4 fw-bold">格局</h5>
        <div class="col">
            <div class="row">
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="pattern" value="=1" id="pattern_option1"> 1 房
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="pattern" value="=2" id="pattern_option2"> 2 房
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="pattern" value="=3" id="pattern_option3"> 3 房
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="pattern" value=">=4" id="pattern_option4"> 4
                    房以上
                </label>
            </div>
        </div>
    </div>

    <div class="row border-bottom border-1 mb-2 p-3">
        <h5 class="col-md-2 col-4 fw-bold">類型</h5>
        <div class="col">
            <div class="row">
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="type" value="住宅" id="type_option1"> 整層住家
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="type" value="獨立套房" id="type_option2"> 獨立套房
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="type" value="分租套房" id="type_option3"> 分租套房
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="type" value="雅房" id="type_option4"> 雅房
                </label>
            </div>
        </div>
    </div>

    <div class="row border-bottom border-1 mb-2 p-3">
        <h5 class="col-md-2 col-4 fw-bold">房租</h5>
        <div class="col">
            <div class="row">
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="< 5000" id="price_option1"> 5千以下
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="BETWEEN 5000 AND 10000"
                           id="price_option2"> 5千-1萬
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="BETWEEN 10000.1 AND 20000"
                           id="price_option3">
                    1-2萬
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="BETWEEN 20000.1 AND 30000"
                           id="price_option4">
                    2-3萬
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="BETWEEN 30000.1 AND 40000"
                           id="price_option5">
                    3萬-4萬
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value="BETWEEN 40000.1 AND 50000"
                           id="price_option6">
                    4萬-5萬
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="price" value=">50000" id="price_option7">
                    5萬以上
                </label>
            </div>
        </div>
    </div>

    <div class="row border-bottom border-1 mb-2 p-3">
        <h5 class="col-md-2 col-4 fw-bold">坪數</h5>
        <div class="col">
            <div class="row">
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="twPing" value="< 20" id="twPing_option1">
                    20坪以下
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="twPing" value="BETWEEN 20 AND 30"
                           id="twPing_option2"> 20-30坪
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="twPing" value="BETWEEN 30.1 AND 40"
                           id="twPing_option3"> 30-40坪
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="twPing" value="BETWEEN 40.1 AND 50"
                           id="twPing_option4"> 40-50坪
                </label>
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="twPing" value="> 50" id="twPing_option5">
                    50坪以上
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-2 p-3">
        <h5 class="col-md-2 col-4 fw-bold">自己貼文</h5>
        <div class="col">
            <div class="row">
                <label class="col-lg-2 col-md-3 col-sm-6 col-12">
                    <input class="form-check-input" type="checkbox" name="myPost" value="1" id="myPost_option1"> 我的貼文
                </label>
                <label class="col">
                    <input class="form-check-input" type="checkbox" name="myPost" value="0" id="myPost_option2"> 其他人的貼文
                </label>
            </div>
        </div>
    </div>
</div>

<div class="container px-5">
    <div class="row border-bottom">
        <div class="col-md-6">
            <div class="fw-bold fs-3 py-3">
                共找到<strong class="text-danger">{{ post_results|length }}</strong>間房子
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="mx-0">
                <input class="me-2" type="checkbox" id="sort-checkbox" name="priceOrder">
                <label id="sort" for="sort-checkbox">
                    <i class="fas fa-arrow-down btn btn-outline-secondary">金額
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                        </svg>
                    </i>
                    <i class="fas fa-arrow-up btn btn-outline-secondary active">金額
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                        </svg>
                    </i>
                </label>
            </div>
            <div class="mx-0">
                <input class="me-2" type="checkbox" id="sort-checkbox-2" name="twPingOrder">
                <label id="sort" for="sort-checkbox-2">
                    <i class="fas fa-arrow-down btn btn-outline-secondary">坪數
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"></path>
                        </svg>
                    </i>
                    <i class="fas fa-arrow-up  btn btn-outline-secondary active">坪數
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path>
                        </svg>
                    </i>
                </label>
            </div>
        </div>
    </div>
</div>

<script>
    function filter(filter_name, defaults, selectedFilter) {
        const filterOptions = document.querySelectorAll('input[name="' + filter_name + '"]');
        filterOptions.forEach((option) => {
            option.checked = option.value === selectedFilter;
            option.addEventListener("change", (event) => {
                let selectedFilter;
                if (event.target.checked) {
                    filterOptions.forEach((option) => {
                        if (option !== event.target && option.checked) {
                            option.checked = false;
                            localStorage.setItem(option.id, 'false');
                        }
                    });
                    localStorage.setItem(event.target.id, 'true');
                    selectedFilter = event.target.value;
                } else {
                    localStorage.setItem(event.target.id, 'false');
                    selectedFilter = defaults;
                }
                const obj = {};
                obj[filter_name] = selectedFilter;
                localStorage.setItem(filter_name, selectedFilter);
                $.ajax({
                    type: 'POST',
                    url: '/update/' + filter_name,
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(obj),
                    success: function () {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    }

    function initializeFilters(filterName, defaults) {
        const selectedFilter = localStorage.getItem(filterName) || "{{ session.get('" + filterName + "', '" + defaults + "') }}";
        filter(filterName, defaults, selectedFilter);
    }

    function initializeRentalType() {
        const selectedType = "{{ session.get('selected_type', 'All') }}";
        filter("type", "All", selectedType);
    }

    initializeFilters("pattern", ">=0");
    initializeFilters("price", ">=0");
    initializeFilters("twPing", ">=0");
    initializeFilters("myPost", "All");

    initializeRentalType();

    function order(order_name, name, defaults) {
        const orderOption = document.querySelector('input[name="' + order_name + '"]');
        orderOption.checked = localStorage.getItem(orderOption.id) === "true";
        orderOption.addEventListener("change", (event) => {
            let obj = {};
            if (event.target.checked) {
                localStorage.setItem(event.target.id, 'true');

                obj[order_name] = " ORDER BY " + name.toUpperCase() + " ASC";
            } else {
                localStorage.setItem(event.target.id, 'false');
                obj[order_name] = defaults;
            }
            $.ajax({
                type: 'POST',
                url: '/update/' + order_name,
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(obj),
                success: function () {
                    window.location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    }

    order("priceOrder", "price", " ORDER BY PRICE DESC");
    order("twPingOrder", "twPing", " ORDER BY PRICE DESC");

</script>
    
    
    
    
    
    
    

