<footer class="bg-secondary-subtle">
    <div class="pt-5 container">
        <div class="row px-3">
            <div class="col-6 col-lg-2 mb-3 p-0">
                <h5 class="fw-bold">買屋</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"
                                                 onclick="selectType('公寓', 'sell')">公寓</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"
                                                 onclick="selectType('電梯大樓', 'sell')">電梯大樓</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"
                                                 onclick="selectType('透天厝', 'sell')">透天厝</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"
                                                 onclick="selectType('別墅', 'sell')">別墅</a></li>
                </ul>
            </div>


            <div class="col-6 col-lg-2 mb-3 p-0">
                <h5 class="fw-bold">租屋</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           onclick="selectType('住宅', 'rentals')">整層住家</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           onclick="selectType('獨立套房', 'rentals')">獨立套房</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           onclick="selectType('分租套房', 'rentals')">分租套房</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           onclick="selectType('雅房', 'rentals')">雅房</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3 p-0">
                <h5 class="fw-bold">常見問題</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           data-bs-toggle="modal" data-bs-target="#modal-declaimer">免責聲明
                        </a>
                    </li>
                    <li class=" nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-body-secondary"
                           data-bs-toggle="modal" data-bs-target="#modal-policy">使用者條款
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-body-secondary">刊登費用</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-5 offset-lg-1 mb-3 p-0">
                <form action="/search/advance" method="POST" class="search-input">
                    <h5 class="fw-bold">找尋理想房屋</h5>
                    <p>幸福在不遠處</p>
                    <div class="input-group">
                        <span class="input-group-text p-0">
                            <label for="searchType" class="visually-hidden">搜尋類型</label>
                            <select name="searchType" id="searchType"
                                    class="border-0 search-type form-select shadow-none">
                                <option value="buy">買屋</option>
                                <option value="rent">租屋</option>
                            </select>
                        </span>
                        <label for="search-input" class="visually-hidden">物件名稱</label>
                        <input id="search-input" name="query" type="text"
                               class="form-control input-query rounded-0 shadow-none"
                               placeholder="社區名稱/地點街區">
                        <button class="search-button btn btn-warning rounded-start-0 shadow-none" type="submit"
                                data-bs-toggle="modal" data-bs-target="#modal-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                    </div>
                    <ul class="search-results bg-light rounded-bottom-3 list-unstyled">
                    </ul>
                </form>
            </div>
        </div>

        <div class="border-secondary-subtle d-flex flex-column flex-sm-row justify-content-between py-4 mt-4 border-top">
            <p class="text-muted">&copy; 2023 whats2000, Inc. All rights reserved.</p>
        </div>
    </div>
</footer>

<script>
    let suggestions = [];

    // getting all required elements
    const searchInput = $(".search-input");
    const input = searchInput.find(".input-query");
    const searchType = searchInput.find(".search-type");
    const searchButton = searchInput.find(".search-button");
    const resultBox = searchInput.find(".search-results");

    $(document).ready(function () {

        // if user press any key and release
        input.on("keyup", function (e) {
            let userData = e.target.value; // user entered data
            let emptyArray = suggestions;
            if (userData) {
                emptyArray = emptyArray.map((data) => {
                    let url = searchType.val() === "buy" ? "sell_info.html?pId=" : "rentals_info.html?pId=";
                    // passing return data inside li tag with a link
                    return `<li><a class="text-reset text-decoration-none" href="${url}${data['pId']}">${data['district']} | ${data['address']} <br> ${data['title']}</a></li>`;
                });
                resultBox.addClass("active");
                searchType.addClass("rounded-bottom-0");
                searchButton.addClass("rounded-bottom-0");

                showSuggestions(emptyArray);
                let allList = resultBox.find("li");
                for (let i = 0; i < allList.length; i++) {
                    // 單純點擊輔助完成
                    allList.eq(i).attr("onclick", "select(this)");
                }
            } else {
                resultBox.removeClass("active"); // hide autocomplete box
                searchType.removeClass("rounded-bottom-0");
                searchButton.removeClass("rounded-bottom-0");
            }
        });

        function showSuggestions(list) {
            let listData;
            if (!list.length) {
                let userValue = input.val();
                listData = "<li>" + userValue + "</li>";
            } else {
                listData = list.join("");
            }
            resultBox.html(listData);
        }

        input.on('input', function () {
            const searchQuery = input.val();  // 獲取輸入框的值
            const searchQueryType = searchType.val();
            $.ajax({
                url: '/search/suggest',  // 請求的URL
                type: 'GET',
                data: {type: searchQueryType, query: searchQuery},  // 傳遞給服務器的參數
                success: function (results) {
                    // 成功獲取到搜索結果後執行的回調函數
                    // 將搜索結果顯示在search-results區域
                    suggestions = results
                }
            });
        });

        searchType.on('change', function () {
            const searchQuery = input.val();  // 獲取輸入框的值
            const searchQueryType = searchType.val();
            $.ajax({
                url: '/search/suggest',  // 請求的URL
                type: 'GET',
                data: {type: searchQueryType, query: searchQuery},  // 傳遞給服務器的參數
                success: function (results) {
                    // 成功獲取到搜索結果後執行的回調函數
                    // 將搜索結果顯示在search-results區域
                    suggestions = results
                }
            });
        });
    });

    function select(element) {
        let selectData = $(element).find("a").text();

        if (!selectData.split(' ')[2]) return;

        let selectedAddress = selectData.split(' ')[2].trim(); // 獲取選擇的地址
        input.val(selectedAddress);
        searchInput.removeClass("active");
    }

    function selectType(type, page) {
        const obj = page === 'sell' ? {houseType: type} : {type: type};
        const url = page === 'sell' ? '/update/houseType' : '/update/type';
        $.ajax({
            type: 'POST',
            url: url,
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(obj),
            success: function () {
                window.location.href = `/${page}.html`;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

{% include './common/declaimer.html' %}
{% include './common/back_to_top.html' %}