/**********************************
*
*          Main Style
*
**********************************/
.wrong {
  display: block;
}

.good {
  display: none;
}

img {
  object-fit: cover;
}

.nav-link {
  color: #6c757d !important;
}