/**********************************
*
*          Main Style
*
**********************************/
.wrong {
  display: block;
}

.good {
  display: none;
}

img {
  object-fit: cover;
}

.nav-link {
  color: #6c757d !important;
}

/* topic.html */
.topic {
  height: 100vh;

  img {
    object-fit: cover;
  }

  .topic-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 50%;

    @media screen and (max-width: 1024px) {
      transform: translate(-50%, -50%);
      width: 75%;
    }

    @media screen and (max-width: 768px) {
      transform: translate(-50%, -50%);
      width: 100%;
    }

    -ms-transform: translate(-50%, -40%);
  }

  .topic-search-input {
    position: relative;
  }

  .search-results {
    position: absolute;
    left: 0;
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 400px;
}

.phone-container {
  position: relative;

  #qrcode-container {
    position: absolute;
    z-index: 9999;
    margin-top: 50px;
  }
}

label i.fa-arrow-up {
  display: none;
}

input:checked + label i.fa-arrow-down {
  display: none;
}

input:checked + label i.fa-arrow-up {
  display: inline-block;
}

#sort {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  margin: 4px;
  font-weight: bold;
}

#sort-checkbox {
  display: none;
}

#sort-checkbox-2 {
  display: none;
}