<section class="container pt-5">
    {% if post %}
        <h5 class="title fw-bold">{{ post['title'] }}</h5>
        <div class="row align-items-stretch">
            <div class="col-lg-6">
                <img src="{{ post['image'] }}" class="img-fluid " alt="圖片無法顯示">
            </div>
            <div class="col-lg-6 px-5">
                <div class="h-100 py-1">
                    <div class="row border-bottom border-1">
                        <div class="col-xl-6 col-12">
                            <span style="font-weight: bold; color: red; font-size: 40px">{{ post['price'] }}</span>
                            <span>萬元</span>
                        </div>
                        <div class="col-xl-6 col-12">
                            <div class="text-muted d-flex align-items-center">單價
                                <i class="bi bi-question-circle mx-2 mb-1" data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="
                                   中古屋單價由 WNW 根據刊登者發佈的房源數據計算得出，
                                        單價 = 售金 / 權狀坪數
                                   備註：以上售金與權狀坪數，皆扣除車位數據"></i> :
                                {{ post['pricePerTwping'] }}萬/坪
                            </div>
                            <div class="text-muted d-flex align-items-center">
                                {% set loanAmount = post['price'] * (1 - 0.2) * 10000 %}
                                {% set monthlyInterestRate = 2 / 1200 %}
                                {% set monthlyPayment = (loanAmount * monthlyInterestRate * ((1 + monthlyInterestRate) ** 360)) / (((1 + monthlyInterestRate) ** 360) - 1) %}
                                {% set referenceMonthlyPayment = monthlyPayment * 0.8 %}

                                參考月付
                                <i class="bi bi-question-circle mx-2 mb-1" data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-title="這是以 30 年首付 20%，以 2% 複利計算的"></i> :
                                月付{{ '%.0f' % referenceMonthlyPayment }}元
                            </div>
                        </div>
                    </div>

                    <div class="row border-bottom border-1 p-2">
                        <div class="col-6 mb-2">
                            <div class="row text-muted">格局</div>
                            <div class="row">
                                {{ post['bedRoom'] }}房
                                {{ post['livingRoom'] }}廳
                                {{ post['restRoom'] }}衛
                                {{ post['balcony'] }}陽台
                            </div>
                        </div>
                        <div class="col-3 mb-2">
                            <div class="row text-muted">屋齡</div>
                            <div class="row">
                                {{ post['age'] }}年
                            </div>
                        </div>
                        <div class="col-3 mb-2">
                            <div class="row text-muted">權狀坪數</div>
                            <div class="row">
                                {{ post['twPing'] }}坪
                            </div>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-md-4 col-6 text-muted">樓層</div>
                        <div class="col-md-8 col-6">
                            {{ post['floor'] }}{% if post['floor'].isdigit() %}F{% endif %}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-6 text-muted">公設比</div>
                        <div class="col-md-8 col-6">{{ post['ratioOfPublicArea'] }}%</div>
                    </div>

                    <div class="row border-bottom border-1 pb-2">
                        <div class="col-md-4 col-6 text-muted">地址</div>
                        <div class="col-md-8 col-6">{{ post['city'] }}{{ post['district'] }}{{ post['address'] }}</div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-4 col-6 text-muted">負責人</div>
                        <div class="col-md-8 col-6">{{ post['name'] }}</div>
                    </div>

                    <div class="d-grid phone-container">
                        <button id="phone" class="btn btn-warning fw-bold" type="button">{{ post['phone'] }}</button>
                        <div id="qrcode-container" class="w-100 mx-auto d-flex justify-content-center align-items-center"></div>
                    </div>
                </div>
            </div>
            <div class="container my-5 p-5">
                <div class="row">
                    <div class="col-2 text-muted">房屋介紹:</div>
                    <div class="col-10">{{ post['description'] }}</div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="map_place"></div>
        </div>
    {% else %}
        <div class="container bg-secondary">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">這裡空空如也</h1>
                <p class="lead">
                    目前沒有任何資料，你可以發布第一個房子
                </p>
            </div>
        </div>
    {% endif %}
</section>

<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })

    function showMap() {
        const address = "{{ post['city'] }}{{ post['district'] }}{{ post['address'] }}";
        const container = document.querySelector(".map_place");

        // 創建地圖顯示區域
        const mapDiv = document.createElement("div");
        mapDiv.setAttribute("id", "map");
        mapDiv.style.width = "100%";
        mapDiv.style.height = "400px";

        // 加入地圖顯示區域
        container.appendChild(mapDiv);


        // 初始化地圖
        const map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 25.0424249, lng: 121.5353024},
            zoom: 15,
        });

        // 透過地址資訊獲取經緯度座標
        const geocoder = new google.maps.Geocoder();
        geocoder.geocode({address: address}, (results, status) => {
            if (status === "OK") {
                // 設定地圖中心為該地址
                map.setCenter(results[0].geometry.location);

                // 加入標記
                const marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    icon: 'https://maps.google.com/mapfiles/ms/icons/red-dot.png'
                });
            } else {
                console.log("Geocode was not successful for the following reason: " + status);
            }
        });
    }

    $(document).ready(function () {
        const qrcodeContainer = $('#qrcode-container');

        $('#phone').hover(function () {
            const phoneNumber = $(this).text();

            // 清空 QR Code 容器
            qrcodeContainer.empty();

            // 生成 QR Code
            qrcodeContainer.qrcode({
                text: 'tel:' + phoneNumber,
                width: 128,
                height: 128
            });

            // 顯示 QR Code 容器
            qrcodeContainer.removeClass('d-none');
        }, function () {
            // 隱藏 QR Code 容器
            qrcodeContainer.addClass('d-none');
        });
    });
</script>